.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
jobs/*
logs/*

R.old
analysis_cache
.Rprofile
.Renviron
beta.de.genes.txt
plot.png

quarto/**
!quarto/**/*.qmd
!quarto/**/*.bib
!quarto/**/*.sh
!quarto/**/*.yaml

HPAP113_velocity_seurat_object.qs
plot_sct_protected.png
*.qs
